---
layout: default
titleAfter: Stellar astronomical objects from the universe.
meta: Discover many planets from the universe both inside and outside our Solar System.
priority: 1.0
---

<h1>Planets of the Universe</h1>
<p>A planet is an astronomical object orbiting a star or stellar remnant that is massive enough to be rounded by its own gravity, is not massive enough to cause thermonuclear fusion, and has cleared its neighbouring region of planetesimals.</p>

<h2>Types of Planets</h2>

<ol>
	{% for planet in site.categories.planet-type %}
		<li>
			<a href="{{site.baseurl}}/planets/{{planet.folder}}/">{{planet.title}}</a>
			{{planet.content}}
		</li>
	{% endfor %}
</ol>

<h2>Recently Discovered Planets</h2>

<ul>
	{% for news in site.categories.recently-discovered limit:2 %}
		<li>
			<a href="{{site.baseurl}}{{news.url}}">{{news.title}}</a>
			<p>{{news.meta}}</p>
		</li>
	{% endfor %}
</ul>

<h2>All pages - nested list</h2>

{% for parent in site.categories %}
  <li><a name="{{ parent | first }}">{{ parent | first }}</a>
    <ul>
    {% for posts in parent %}
      {% for post in posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
  </li>
{% endfor %}

<h1>Blog Posts</h1>

{% for parent in site.categories.main %}
  <li><a>{{ parent }}</a> {{ parent.title }} {{ parent.filemane }} {{ parent.url }}
    <ul>
    {% for post in site.categories.[parent.subcategory] %}
	<li><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li>
    {% endfor %}
    </ul>
  </li>
{% endfor %}


  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
